
.cabecalho {
  background: var(--verde-claro);
}

.cabecalho .cabecalho__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  padding: 40px 16px;
  white-space: nowrap;
}

.cabecalho__logo {
  max-width: 17.2rem;
  margin-bottom: 1rem;
}

.cabecalho__nav-lista {
  font-size: 1.5rem;
}

.cabecalho__nav-lista::before {
  content:'';
  width: 100%;
  position: absolute;
  top: -1rem;
  border-top: 1px solid black;
}

.cabecalho .cabecalho__nav .cabecalho__nav-lista {
  display: flex;
  justify-content: center;
  list-style: none;
  position: relative;
  width: 100%;
  padding-top: 1rem;

}

.cabecalho .cabecalho__nav .cabecalho__nav-lista a {
  color: #0C0421;
  margin: .5rem;
  text-decoration: none;
  font-weight: 400;
  line-height: 150%;
  transition : font-weight .5s;
}

.cabecalho  .cabecalho__nav .cabecalho__nav-lista a:hover {
  font-weight: 600;
}

.cabecalho__lista-item {
  display: flex;
}

.submenu li a:hover {
  font-weight: 700 !important;
}

.cabecalho__lista-item .icone {
  display: none;
  font-size: 2.2rem;
  transition: transform 0.5s ease;
  cursor: pointer;
  color: var(--lilas-escuro);
  align-self: center;
  position: relative;
  right: .5rem;
}

/* seta submenu */
.cabecalho__lista-item .icone.active {
  transform: rotate(180deg);
}

.cabecalho__nav-lista .submenu {
  display: none;
  position: absolute;
  border: .1rem solid #ddd;
  font-size: .1rem;
  padding: 1.6rem;
  border-top: none;
  border-bottom-left-radius: .8rem;
  border-bottom-right-radius: .8rem;
  background: var(--cinza-claro);
  box-shadow: .4rem .4rem .8rem 0rem rgba(0, 0, 0, 0.1);
  z-index: 1;
  min-width: 16.0rem;
  border-radius: .4rem;
  margin-top: 4.0rem;
  font-size: 2.2rem;
}

.cabecalho__nav-lista .submenu .submenu {
  left: 100%;
  top: 10px;
}

.submenu li {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  display: flex;
  border-bottom: 2px solid #cad4fa;
  margin: 8px 8px;
  min-width: 170px;
  height: 45px;
}

.submenu li:first-child {
  margin-top: unset;
}

.submenu li:last-child {
  margin-bottom: unset;
  border-bottom: none;
}

@media screen and (min-width: 480px) {
  .cabecalho__lista-item .icone {
    display: block;
  }

  .cabecalho .cabecalho__nav .cabecalho__nav-lista a {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) {
  /* Tablet */

  .cabecalho__logo {
    max-width: 27.0rem;
  }

  .cabecalho__nav-lista {
    font-size: 2.2rem;
    gap: 2.2rem;
  }

}
