
.cabecalho {
  background: var(--verde-claro);
}

.cabecalho .cabecalho__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  padding: 40px 16px;
  white-space: nowrap;
}

.cabecalho__nav--logo {
  width: 17.2rem;
  height: 5.6rem;
  margin-bottom: 1rem;
}

.cabecalho__nav--lista {
  font-size: 1.5rem;
}

.cabecalho__nav--lista::before {
  content:'';
  width: 100%;
  position: absolute;
  top: -1rem;
  border-top: 1px solid black;
}

.cabecalho .cabecalho__nav .cabecalho__nav--line {
  width: 100%;
  border-bottom: 1px solid black;
}

.cabecalho .cabecalho__nav .cabecalho__nav--lista {
  display: flex;
  justify-content: center;
  list-style: none;
  position: relative;
  width: 100%;
  padding-top: 1rem;

}

.cabecalho .cabecalho__nav .cabecalho__nav--lista a {
  color: #0C0421;
  margin: 0 21px;
  text-decoration: none;
  font-weight: 400;
  line-height: 150%;
  transition : font-weight .5s;
}

.cabecalho  .cabecalho__nav .cabecalho__nav--lista a:hover {
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  /* Tablet */

  .cabecalho__nav--logo {
    width: 27.0rem;
    height: 8.8rem;
  }

  .cabecalho__nav--lista {
    font-size: 2.2rem;
  }

}
